
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');

* {
    margin: 0;
    color: #2b2a26;
    background-color: #fcfbf4;
}

/* universal paragraph spacing */

p {
    line-height: 1.4;
}

/* --------------------------------------- MAIN SECTION ------------------------------------------*/

/* setting main as a flexbox element with content as its children */
body {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 10px;
    font-size: 22px;
}


/* turning the header into its own flexbox to layout the nav buttons */
.header {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
}

/* link styling */
a {
    text-decoration: none;
    color: #eb5e28;
}

a:hover {
    text-decoration: underline;
    color: #565453;
}

/* setting all headers to be bold */
h1, h2, h3 {
    font-weight: 700;
}


/* ----------------------------- INTRODUCTION AND PHOTO SECTION -------------------------------*/

/* turning main into a nested flexbox element */
.main {
    display: flex;
    font-size: 20px;
    margin: 50px 0px;
    flex-wrap: wrap;
    justify-content: center;
}

/* all (two) divs within main will have a width of 500px */
.main > div {
    width: 500px;
}

/* the photo container will have a width of 100% compared to its parent (div width: 500px) */
.photo img {
    width: 100%;
}

/* changing font size of h1 elements */
h1 {
    font-size: 50px;
}

/* changing font size of intro p elements and creating space between text and photo */
.intro p {
    font-size: 24px;
    text-wrap: wrap;
    padding-right: 10px;
}


/* ----------------------------------- EDUCATION SECTION -----------------------------------------*/

/* turning education section into a flexbox */
.education {
    display: flex;
    flex-direction: column;
}

/* changing font sizes within education section */
.education h1 {
    text-align: center;
    font-size: 45px;
    text-decoration: underline;
}

.education h2 {
    font-size: 35px;
}

.education h3 {
    font-size: 25px;
}


/* making all buttons a certain size and giving a hover function */
.logo-button button {
    width: 50px;
    border: none;
    cursor: grab;
}

.logo-button a {
    text-decoration: none;
}

button img {
    width: 100%;
}

/*---------------------------------- RECENT TIME SECTION --------------------------------------*/

.recent {
    display: flex;
    flex-direction: column;
}

.recent h2 {
    text-align: center;
    font-size: 45px;
    text-decoration: underline;
}

/*------------------------------------ SKILLS SECTION -----------------------------------------*/

.footer h1 {
    text-align: center;
    font-size: 45px;
    text-decoration: underline;
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
}

.skills button {
    border-style: none;
    padding-bottom: 10px;
}

.skills img {
    width: 75px;
}


/* ------------------------------ RESPONSIVE DISPLAY SECTION ----------------------------------*/

@media only screen and (max-width: 1020px) {
    /* switching the header to be space-around when intro elements begin to wrap */
    .header {
        justify-content: space-around;
    }

    /* removing padding on the right and adding padding once the photo and intro start stacking */
    .intro p {
        padding: 0px 0px 10px 0px;
    }

    /* centering h1 (Luke Anderson) */
    h1, h2 {
        text-align: center;
    }

}