@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&display=swap');
html {
    margin: 0;
    color: #2b2a26;
    background-color: #fcfbf4;
    font-family: "Open Sans";
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}
/* universal paragraph spacing */

p {
    line-height: 1.4rem;
}

/* ---------------------------- HEADER SECTION ------------------------*/

.header {
    display: flex;
    justify-content: space-around;
    padding: 0% 10%;
    margin: 20px 0px;
    font-weight: 700;
    animation: fadeIn 3s;
}

.header a {
    text-decoration: none;
    color: #2b2a26;
    font-size: 1.2rem;
}

.header a:hover {
    color: #eb5e28;
    text-shadow: 1px 1px 2px #565453;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1;}
}


/* -------------------------------------- LOGO SECTION --------------------------- */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.logo h2, img {
    width: 400px;
}

.logo h2 {
    font-weight: 700;
    font-size: 4.5rem;
    color:#eb5e28;
    -webkit-text-stroke-color: #2b2a26;
    -webkit-text-stroke-width: .05em;
}


/* Email Section */
.email {
    display: flex;
    align-self: center;
    width: 95px;
    justify-content: space-between;
}

.email a {
    color: #2b2a26;
    text-decoration: none;
    font-size: 1rem;
}

.email img {
    width: 18px;
}

/* -------------------------------------INTRODUCTION SECTION -------------------------------------*/
.div_heading {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 3.2rem;
    font-style: italic;
    text-decoration: underline;
}

.container {
    align-self: center;
    display: flex;
    align-items: center;
}

.tags {
    font-size: 2.2rem;
    font-style: italic;
}



.div_p {
    padding: .5em;
    font-size: 1.3rem;
    width: 800px;
    margin: 0 20px;
}

/* --------------------------------- EDUCATION SECTION ---------------------------------- */
.logo_button {
    align-self: center;
}

.logo_button button:hover {
    cursor: grab;
}

.logo_button button {
    border-style: none;
    background-color: #fcfbf4;
}

.date_from {
    align-self: center;
    font-size: 1.5rem;
    margin: 15px 0px 5px 0px;
}

/* --------------------------------- FOOTER SECTION --------------------------------------*/
.skills_section {
    margin: 0px 150px 0px 150px;
}

.skills_section h1 {
    text-align: center;
    font-size: 45px;
    text-decoration: underline;
}

.skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.skills button {
    border-style: none;
    padding-bottom: 10px;
    background-color: #fcfbf4;
}

.skills img {
    width: 75px;
}

/*--------------------------------- BUTTON SECTION ------------------------------------*/
#button_container {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    background-color: #2b2a26;
    height: 70px;
}

.contact_buttons {
    border: none;
    background-color: #2b2a26;
    border-radius: 5px;
    padding: .5rem;
}

.contact_buttons:hover {
    background-color: #eb5e28;
}

.contact_buttons a {
    color: #fcfbf4;
    font-size: 1.3rem;
    text-decoration: none;
}


/*--------------------------------- MEDIA QUERY SECTION ----------------------------------*/

@media only screen and (max-width: 1140px) {
    .tags {
        margin: 0;
        font-size: 1.5rem;
    }

    .container {
        flex-wrap: wrap;
    }

    .div_p {
        width: 100%;
        margin: 0 0 0 1.5rem;
        padding: 0;
    }

}

/*-----------------------------------------------*/

@media only screen and (max-width: 800px) {
    /* ---------- Logo Section ----------*/
    .logo h2, img {
        width: 50%;
        font-size: 9vw;
    }

  
    .div_heading {
        font-size: 6vw;
    }

    #button_container {
        height: fit-content;
        flex-wrap: wrap;
    }

    .contact_buttons a {
        font-size: 1.2rem;
        margin: 10px;
    }
    
}

/*-------------------------------------------------*/

@media only screen and (max-width: 500px) {
    /* -------- HEADER SECTION ---------- */
    .header {
        justify-content: space-evenly;
    }
    
    .header a, .email a {
        text-decoration: underline;
    }

    .header a {
        font-size: 1rem;
    }

    /* -------- Logo Section -------- */
    .email {
        width: fit-content;
    }

    /* -------- Intro Section ---------- */
    .tags {
        font-size: 1.1rem;
    }

    .div_p {
        width: 100%;
        font-size: 1rem;
    }
    
    .div_heading {
        font-size: 1.7rem;
    }

    /* -------- Footer Section ---------- */
    .skills_section {
        margin: 10px 0px;
    }

    .contact_buttons a {
        font-size: 1rem;
    }
}
